.dashboard {
  width: 100px;
  height: 100vh;
  background-color: #0d6efd;

  .icons {
    svg {
      cursor: pointer;
      width: 40px;
      height: 50px;
    }
    .icon {
      svg {
        padding: 5px 7px;
        border-radius: 5px;
      }
    }
  }
  .active {
    background-color: rgba(22, 22, 23, 0.361);  
  }
}
